.header-bar {
  width: 100%;
  background-color: #282c34;
  padding: 20px 0; /* 패딩을 더 크게 조정 */
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 40px; /* 글씨 크기를 더 크게 조정 */
  font-weight: 500;
}
