.button-group {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    gap: 50px; /* 버튼 사이의 간격 */
    position: relative; /* 부모 요소의 위치 지정 */
    z-index: 10; /* z-index를 높여 가려지지 않도록 */
    padding-top: 200px;
}

.btn {
    padding: 15px 25px; /* 패딩 조정 */
    width: 200px;
    height: 200px; /* 버튼 높이 설정 */
    font-size: 25px;
    cursor: pointer;
    border: none; /* 테두리 제거 */
    border-radius: 10%; /* 라운드 버튼 */
    background: #282c34; 
    color: #ffffff; /* 텍스트 색상 */
    transition: transform 0.2s, box-shadow 0.2s; /* 모던한 전환 효과 */
}

.btn:hover {
    transform: scale(1.05); /* 호버 시 확대 효과 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 효과 */
}

.btn:active {
    transform: scale(0.95); /* 클릭 시 축소 효과 */
}

.btn:focus {
    outline: none; /* 포커스 시 외곽선 제거 */
    box-shadow: 0 0 0 3px rgba(61, 49, 111, 0.5); /* 포커스 시 그림자 효과 */
}
